.search-results-main-wrapper {
  padding-top: 65px;
}

.search-results-heading {
  padding: 60px 0 50px 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 32px;
  color: #3b3b3b;
}
