.product-list-wrapper {
}
.filter-grid {
  display: grid;
  grid-template-columns: 85% 15%;
  column-gap: 20px;
}
.filter-reorder {
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 3px solid white;
  border-radius: 7px;
}
.link-default {
  text-decoration: none;
}
.results-wrapper {
  padding: 100px 0;
}

.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 60px;
}

@media screen and (max-width: 750px) {
  .results-wrapper {
    padding: 40px 0;
  }
  .filter-grid {
    margin-top: 15px;
    grid-template-columns: 1fr;
  }
  .results-grid {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .search-wrapper {
    width: calc(100% - 20px);
    left: 10px;
    bottom: 10px;
  }
  .search-input {
    padding-left: 15px;
  }
  .search-btn {
    padding: 14px 20px 13px 20px;
    right: 0px;
  }
  .filter-reorder {
    width: 40%;
    margin: auto;
    margin-top: 10px;
  }
}
