.second-section {
  background: rgb(132, 44, 104);
  background: linear-gradient(
    180deg,
    rgba(132, 44, 104, 1) 0%,
    rgba(100, 33, 79, 1) 100%
  );
  position: relative;
}

.second-section-under {
  z-index: 2;
}
