.content-wrapper {
  width: 1366px;
  margin: auto;
}

.showcase-wrapper {
  position: relative;
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 1200px, 360px auto;
  background-position: -400px -650px, right bottom;
  background-blend-mode: normal, overlay;
  padding: 80px 0 100px 0;
}

.showcase-heading {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 54px;
  color: #4cb3aa;
  margin-bottom: 50px;
}

/* SLIDER */
.showcase-container {
  width: 100%;

  display: flex;
  overflow: hidden;

  z-index: 200;
}
.showcase-slider-element {
  min-width: 550px;
  margin: 0 25px;

  transition: transform 0.2s ease-out;
}

/* CARD SETUP */
.showcase-pic-div {
  border-radius: 7px;
  position: relative;
  min-width: 550px;
  height: 370px;
  background-size: auto 100%;
  background-position: center;
}
.showcase-pic-div:hover {
  cursor: pointer;
}
.showcase-pic-div:hover .showcase-arrow {
  padding-right: 0px;
  padding-left: 5px;
}
.showcase-name {
  margin-top: 25px;
  font-family: "DM Serif Display", serif;
  font-weight: normal;
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  color: #393939;
}
.showcase-desc {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  color: #393939;
}
.showcase-price {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  background-color: #842c68;
  position: absolute;
  top: 20px;
  left: -20px;
  padding: 10px 20px;
}

/* BUTTON */
.arrow {
  height: 40px;
}
.arrow-left {
  transform: rotate(180deg);
}
.showcase-btn {
  position: absolute;
  border: none;
  outline: none;
  top: 0px;
  text-align: center;
  transition: 0.3s ease-out;
  text-align: center;
  height: 100%;
  width: 100px;
  background-color: transparent;
  transition: 0.2s ease-out;
}
.showcase-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.showcase-btn-left {
  left: 0px;
}
.showcase-btn-right {
  right: 0px;
}

/* LIGHT MODE */
.showcase-price-light {
  background-color: #4cb3aa;
}
.showcase-name-light,
.showcase-desc-light {
  color: #fff;
}

@media screen and (max-width: 750px) {
  .showcase-heading {
    margin-left: 5%;
    font-size: 40px;
    margin-bottom: 25px;
  }

  /* SLIDER */
  .showcase-wrapper {
    background-repeat: no-repeat;
    background-size: 350px 350px, 160px auto;
    background-position: -150px -150px, right bottom;
    padding: 30px 0 40px 0;
  }
  .content-wrapper {
    width: 100%;
  }
  .showcase-pic-div {
    min-width: 260px;
    height: 260px;
  }
  .showcase-slider-element {
    margin: 0 15px;
    min-width: 262px;
  }
  .showcase-container {
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
  }

  /* CARD */
  .showcase-name {
    margin-top: 20px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
  }
  .showcase-desc {
    margin-top: 4px;
    font-size: 15px;
    line-height: 15px;
  }
  .showcase-price {
    font-size: 30px;
    color: #fff;
    top: 15px;
    left: -15px;
    padding: 5px 0;
    width: 85px;
    text-align: center;
  }

  /* RESPONSIVE BUTTON */
  .arrow {
    padding: 11px 13px 11px 17px;
    height: 35px;
  }
  .showcase-btn {
    position: absolute;
    border: none;
    outline: none;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s ease-out;
    height: 57px;
    width: 57px;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: 0.2s ease-out;
    border: 1px solid #f3f3f3;
  }
  .showcase-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .showcase-btn:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .showcase-btn-left {
    left: 5px;
  }
  .showcase-btn-left:active {
    padding-right: 7px;
  }
  .showcase-btn-right {
    right: 5px;
  }
  .showcase-btn-right:active {
    padding-left: 7px;
  }
}
