.span-bg-detail {
  height: 100px;
  width: 100%;
  position: absolute;
  top: -100px;
  background-color: #842c68;
  z-index: 2;
}

@media screen and (max-width: 750px) {
  .span-bg-detail {
    height: 240px;
    top: -240px;
  }
}
