.detail-pictures-wrapper {
  grid-row: 1 / 3;
}

.detail-main-pictures-wrapper {
  background-color: #c7c7c7;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 7px;
}

.detail-pictures-slider {
  min-width: 100%;
  height: 500px;
  transition: transform 0.4s ease-out;
  background-size: cover;
  background-position: center;
}

.detail-bottom-pictures-wrapper {
  width: auto;
  display: flex;
}

.detail-bottom-pictures-div {
  margin: auto;
  width: auto;
}

.detail-bottom-picture {
  height: 90px;
  width: 90px;
  border: 3px solid #fff;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  transition: 0.2s;
}
.detail-bottom-picture:hover {
  opacity: 0.9;
  border: 3px solid #c6e4e1;
  cursor: pointer;
}
.detail-bottom-picture-active {
  opacity: 1;
  border: 3px solid #4cb3aa;
  cursor: pointer;
}

.pictures-arrow {
  padding: 14px 13px 14px 17px;
  height: 29px;
}

.pictures-slider-btn {
  position: absolute;
  border: none;
  outline: none;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s ease-out;
  height: 57px;
  width: 57px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.2s ease-out;
  border: 1px solid #f3f3f3;
}
.pictures-slider-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.pictures-slider-btn:active {
  background-color: rgba(255, 255, 255, 0.3);
}
.pictures-slider-btn-left {
  left: 5px;
}
.pictures-slider-btn-left:active {
  padding-right: 7px;
}
.pictures-slider-btn-right {
  right: 5px;
}
.pictures-slider-btn-right:active {
  padding-left: 7px;
}

@media screen and (max-width: 750px) {
  .detail-pictures-wrapper {
    grid-row: 2 / 3;
  }
  .detail-bottom-picture {
    height: 55px;
    width: 55px;
  }
  .detail-main-pictures-wrapper {
    width: 95%;
    margin: auto;
  }
  .detail-pictures-slider {
    height: auto;
    padding-top: 60%;
  }
  .detail-bottom-pictures-wrapper {
    width: 95%;
    margin: auto;
  }
}
