.product-detail-info-wrapper {
  box-sizing: border-box;
  padding: 10px 20px;
}

.product-detail-category {
  color: #4cb3aa;
  font-size: 18px;
}

.product-detail-name {
  margin-top: 5px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 40px;
  color: #393939;
}

.product-detail-desc {
  font-size: 18px;
  color: #393939;
  margin-top: 5px;
}

@media screen and (max-width: 750px) {
  .product-detail-info-wrapper {
    grid-row: 1 / 2;
  }
  .product-detail-category {
    font-size: 16px;
  }

  .product-detail-name {
    margin-top: 5px;
    font-size: 32px;
  }

  .product-detail-desc {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
