.detailed-desc-wrapper {
  position: relative;
  z-index: 50;
  padding: 15px 150px 50px 150px;
  text-align: justify;
  background-color: #fff;
  border-radius: 7px;

  /*
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.12),
    0 2px 2px rgba(100, 100, 100, 0.12), 0 4px 4px rgba(100, 100, 100, 0.12),
    0 8px 8px rgba(100, 100, 100, 0.12), 0 16px 16px rgba(100, 100, 100, 0.12);
  */
  margin-bottom: 40px;
}
.detailed-desc-header {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 40px;
  color: #393939;
}
.detailed-desc-body {
  margin-top: 15px;
  color: #464646;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .detailed-desc-wrapper {
    padding: 10px;
  }
  .detailed-desc-header {
    font-size: 32px;
  }
  .detailed-desc-body {
    font-size: 16px;
    line-height: 20px;
  }
}
