.about-title {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 54px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.about-subtitle {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.about-wrapper {
  padding: 50px 0 200px 0;
  text-align: center;
}

.about-line {
  height: 400px;
}

.about-placeholder {
  height: 1200px;
}

@media screen and (max-width: 750px) {
  .about-heading {
    padding-top: 20px;
    font-size: 40px;
  }
}
