.product-list-wrapper {
}
.filter-grid {
  display: grid;
  grid-template-columns: 85% 15%;
  column-gap: 20px;
}
.filter-reorder {
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 3px solid white;
  border-radius: 7px;
}

.results-wrapper {
  padding: 150px 0;
}

.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.result-product-wrapper {
  background-color: #fff;
  width: 370px;
  height: 370px;
  margin-bottom: 150px;
}

.product-left {
  margin-right: auto;
}

.product-middle {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.product-right {
  margin-left: auto;
}
