.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;

  background-color: #fff;

  font-size: 14px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(148, 148, 148, 0.61);
  -moz-box-shadow: 1px 1px 5px 2px rgba(148, 148, 148, 0.61);
  box-shadow: 1px 1px 5px 2px rgba(148, 148, 148, 0.3);
}

.navbar-container {
  height: 65px;
  max-width: 1366px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-open-icon {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 15px;
}

.nav-toggle-line {
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: calc(50% - 1px);
}
.nav-toggle-line:first-of-type {
  top: 0px;
}
.nav-toggle-line:last-of-type {
  top: auto;
  bottom: 0px;
}

.nav-toggle-close-icon {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
}
.nav-toggle-close-line {
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: calc(50% - 1px);
}

.display-none {
  display: none;
}

@media screen and (max-width: 1463px) {
  .navbar-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 750px) {
  .navbar-container {
    padding: 0 20px;
  }
}
