.home-search-wrapper {
  width: 1366px;
  margin: auto;
  position: absolute;
  bottom: 40px;
  box-sizing: border-box;
}

.home-search-input {
  position: absolute;
  display: inline-block;
  background-color: rgb(243, 243, 243);
  bottom: 0px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 15px 25px;
  transition: 0.5s ease-out;
}
.home-search-input:hover,
.home-search-input:focus {
  background-color: rgb(255, 255, 255);
}

.home-search-btn {
  box-sizing: border-box;
  border: none;
  outline: none;
  position: absolute;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  background-color: rgb(153, 46, 112);
  border-radius: 7px;
  padding: 13px 40px;
  right: 0px;
  bottom: 0px;
  transition: 0.5s ease-out;
}
.home-search-btn:hover {
  background-color: #aa3485;
  cursor: pointer;
}
.home-search-btn:active {
  transition: 0.05s ease-out;
  background-color: #ee78c9;
}

@media screen and (max-width: 1463px) {
  .home-search-wrapper {
    width: calc(100% - 80px);
    right: 40px;
  }
  .home-search-btn {
    right: 0px;
  }
}

@media screen and (max-width: 750px) {
  .home-search-wrapper {
    width: calc(100% - 20px);
    right: 10px;
    bottom: 10px;
  }
  .home-search-input {
    padding-left: 15px;
  }
  .home-search-btn {
    padding: 14px 20px 13px 20px;
    right: 0px;
  }
}
