.basket-table-top-row {
  display: flex;
  padding: 5px 20px;
  border-bottom: 2px solid #2a2a2a;
}
.top-row-price {
  width: 135px;
  margin: 0 10px;
  text-align: center;

  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
}
.top-row-quantity {
  width: 150px;
  margin: 0 10px;
  text-align: center;

  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
}
.top-row-whitespace {
  width: 185px;
  margin-left: 10px;
}
.top-row-product {
  flex-grow: 1;

  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
}

.basket-table-row {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}

.basket-table-row:nth-of-type(odd) {
  background-color: #fbfbfb;
}

.basket-table-pic {
  background-size: 100% auto;
  background-color: #acacac;
  border-radius: 7px;
  height: 120px;
  width: 180px;
}

.basket-table-name {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 22px;
  color: #393939;
}
.basket-table-info {
  padding: 20px;
  flex-grow: 1;
}

.basket-table-quantity {
  border: none;
  outline: none;
  padding: 0 15px;
  height: 40px;
  width: 120px;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 22px;
  margin: 0 10px;
}

.basket-table-price {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 22px;
  color: #393939;
  width: 135px;
  text-align: center;
  margin: 0 10px;
}

.basket-table-remove {
  height: 40px;
  width: 185px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: 0.6s;
}

.basket-table-remove:hover {
  background-color: rgb(184, 45, 45);
  cursor: pointer;
}

.basket-table-remove:focus {
  transition: 0.05s;
  background-color: rgb(216, 119, 119);
}
