.basket-wrapper {
  background-color: #efefef;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}

.basket-close-btn {
  box-sizing: border-box;
  padding: 12px;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  left: calc(50% - 21px);
  height: 42px;
  width: 42px;
  background-color: #2a2a2a;
  transition: 0.2s;
}
.basket-close-btn:hover {
  background-color: #393939;
  cursor: pointer;
}

.basket-close-icon {
  width: 18x;
}

.basket-grid {
  display: flex;
  padding: 20px;
}

.basket-left-section {
  flex-grow: 1;
  background-color: #fff;
  width: 100%;
  height: calc(100vh - 40px);
  margin-right: 20px;
  border-radius: 7px;
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.12),
    0 2px 2px rgba(100, 100, 100, 0.12), 0 4px 4px rgba(100, 100, 100, 0.12),
    0 8px 8px rgba(100, 100, 100, 0.12), 0 16px 16px rgba(100, 100, 100, 0.12);
}

.basket-right-section {
  width: 450px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

/* SUMMARY */
.basket-summary-wrapper {
  border-radius: 7px;
  align-content: center;
  flex-grow: 1;
  background-color: #fff;

  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.12),
    0 2px 2px rgba(100, 100, 100, 0.12), 0 4px 4px rgba(100, 100, 100, 0.12),
    0 8px 8px rgba(100, 100, 100, 0.12), 0 16px 16px rgba(100, 100, 100, 0.12);

  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-summary {
  padding: 20px;
}
.basket-summary-header {
  font-weight: 700;
  color: #2a2a2a;
  font-size: 30px;
  text-align: center;
  margin-bottom: 12px;
}
.basket-summary-label {
  font-weight: 700;
  color: #2a2a2a;
  font-size: 18px;
  margin-bottom: 8px;
}
.summary-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  background-color: #efefef;
  border: none;
  outline: none;
  margin-bottom: 15px;
}
.summary-subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.summary-line {
  border: none;
  border: 1px solid #efefef;
  margin-bottom: 15px;
}
.summary-proceed-btn {
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  background-color: #842c68;
  color: #fff;
  width: 100%;
  transition: 0.5s ease-out;
  outline: none;
}
.summary-proceed-btn:hover {
  background-color: #aa3485;
  cursor: pointer;
}
.summary-proceed-btn:active {
  transition: 0.05s ease-out;
  background-color: #ee78c9;
}

.basket-similar-wrapper {
  box-sizing: border-box;
  width: 450px;
  height: 400px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 7px;
  padding: 10px;

  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.12),
    0 2px 2px rgba(100, 100, 100, 0.12), 0 4px 4px rgba(100, 100, 100, 0.12),
    0 8px 8px rgba(100, 100, 100, 0.12), 0 16px 16px rgba(100, 100, 100, 0.12);
}

.basket-heading {
  padding: 23px 40px;
  font-weight: 700;
  font-size: 40px;
  color: #2a2a2a;
}

.basket-table-top-row {
  display: flex;
  padding: 5px 20px;
  border-bottom: 2px solid #2a2a2a;
}
.top-row-price {
  width: 135px;
  margin: 0 10px;
  text-align: center;

  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
}
.top-row-quantity {
  width: 150px;
  margin: 0 10px;
  text-align: center;

  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
}
.top-row-whitespace {
  width: 185px;
  margin-left: 10px;
}
.top-row-product {
  flex-grow: 1;

  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
}

.basket-table-row {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}

.basket-table-row:nth-of-type(odd) {
  background-color: #fbfbfb;
}

.basket-table-pic {
  background-color: #acacac;
  border-radius: 7px;
  height: 120px;
  width: 180px;
}

.basket-table-name {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 22px;
  color: #393939;
}
.basket-table-info {
  padding: 20px;
  flex-grow: 1;
}

.basket-table-quantity {
  border: none;
  outline: none;
  padding: 0 15px;
  height: 40px;
  width: 120px;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 22px;
  margin: 0 10px;
}

.basket-table-price {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 22px;
  color: #393939;
  width: 135px;
  text-align: center;
  margin: 0 10px;
}

.basket-table-remove {
  height: 40px;
  width: 185px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
