.basket-wrapper {
  background-color: #efefef;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}

.basket-close-btn {
  box-sizing: border-box;
  padding: 12px;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  left: calc(50% - 21px);
  height: 42px;
  width: 42px;
  background-color: #2a2a2a;
  transition: 0.2s;
}
.basket-close-btn:hover {
  background-color: #393939;
  cursor: pointer;
}

/* BASKET EMPTY */
.basket-empty-h {
  font-weight: 700;
  font-size: 28px;
  padding: 40px 0 10px 40px;
  color: #b3b3b3;
}
.basket-empty-p {
  font-size: 16px;
  padding-left: 40px;
  color: #cfcfcf;
}

.basket-close-icon {
  width: 18x;
}

.basket-grid {
  display: flex;
  padding: 20px;
}

.basket-left-section {
  flex-grow: 1;
  background-color: #fff;
  width: 100%;
  height: calc(100vh - 40px);
  margin-right: 20px;
  border-radius: 7px;
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.12),
    0 2px 2px rgba(100, 100, 100, 0.12), 0 4px 4px rgba(100, 100, 100, 0.12),
    0 8px 8px rgba(100, 100, 100, 0.12), 0 16px 16px rgba(100, 100, 100, 0.12);

  background-size: 750px auto;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.basket-right-section {
  width: 420px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

/* SUMMARY */
.basket-summary-wrapper {
  border-radius: 7px;
  align-content: center;
  flex-grow: 1;
  background-color: #fff;

  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.12),
    0 2px 2px rgba(100, 100, 100, 0.12), 0 4px 4px rgba(100, 100, 100, 0.12),
    0 8px 8px rgba(100, 100, 100, 0.12), 0 16px 16px rgba(100, 100, 100, 0.12);

  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-summary {
  padding: 20px;
}
.basket-summary-header {
  font-weight: 700;
  color: #2a2a2a;
  font-size: 30px;
  text-align: center;
  margin-bottom: 12px;
}
.basket-summary-label {
  font-weight: 700;
  color: #2a2a2a;
  font-size: 18px;
  margin-bottom: 8px;
}
.summary-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  background-color: #efefef;
  border: none;
  outline: none;
  margin-bottom: 15px;
}
.summary-subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.summary-line {
  border: none;
  border: 1px solid #efefef;
  margin-bottom: 15px;
}
.summary-proceed-btn {
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  background-color: #842c68;
  color: #fff;
  width: 100%;
  transition: 0.5s ease-out;
  outline: none;
}
.summary-proceed-btn:hover {
  background-color: #aa3485;
  cursor: pointer;
}
.summary-proceed-btn:active {
  transition: 0.05s ease-out;
  background-color: #ee78c9;
}

.basket-similar-wrapper {
  box-sizing: border-box;
  width: 420px;
  height: 400px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 7px;
  padding: 10px;

  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.12),
    0 2px 2px rgba(100, 100, 100, 0.12), 0 4px 4px rgba(100, 100, 100, 0.12),
    0 8px 8px rgba(100, 100, 100, 0.12), 0 16px 16px rgba(100, 100, 100, 0.12);
}
.basket-similar-header {
  font-weight: 700;
  color: #2a2a2a;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 0 0;
}
.basket-similar-subtitle {
  color: #393939;
  font-size: 16px;
  text-align: center;
  margin: 0 0 16px 0;
}

.basket-heading {
  padding: 23px 40px;
  font-weight: 700;
  font-size: 40px;
  color: #2a2a2a;
}

.basket-table-wrapper {
  height: calc(100% - 137px);
  overflow-y: scroll;
}

@media screen and (max-width: 1463px) {
  .basket-wrapper {
    overflow-y: scroll;
  }

  .basket-grid {
    padding: 10px;
    flex-direction: column;
  }
  .basket-heading {
    padding: 13px 20px;
    padding-top: 25px;
    font-weight: 700;
    font-size: 28px;
    color: #2a2a2a;
  }
  .basket-left-section {
    height: auto;
    max-height: auto;
    margin: 0 0 10px 0;
  }
  .basket-right-section {
    width: 100%;
    height: auto;
  }
}
