.hero-slider {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slider-btn {
  position: absolute;
  height: 100%;
  width: 8vw;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.3s ease-out;
  top: 0;
}
.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.slider-btn-right {
  right: 0;
}

.slider-element {
  min-width: 100%;
  height: 100%;
  transition: transform 0.4s ease-out;
  background-size: 100%;
  background-position: center;
}
.slider-content-wrapper {
  max-width: 1366px;
  margin: auto;
  margin-top: 20vh;
}
.slider-caption {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 70px;
  color: #fff;
}
.slider-action {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  padding: 3px 25px;
  transition: 0.4s ease-out;
}
.slider-action:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgb(29, 29, 29);
}

@media screen and (max-width: 750px) {
  .slider-btn {
    width: 70px;
  }
  .slider-element {
    background-size: auto;
    background-position: center;
  }
  .slider-caption {
    font-size: 57px;
    word-spacing: 500px;
    line-height: 9vh;
  }
  .slider-content-wrapper {
    width: 90%;
    margin-top: 4vh;
  }
  .slider-action {
    margin-top: 2vh;
    font-size: 18px;
  }
}
