.hero-slider {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slider-btn {
  position: absolute;
  height: 100%;
  width: 8vw;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.3s ease-out;
  top: 0;
}
.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.slider-btn-right {
  right: 0;
}

.slider-element {
  min-width: 100%;
  height: 100%;
  transition: transform 0.4s ease-out;
  background-size: 100%;
  background-position: center;
}
.slider-content-wrapper {
  max-width: 1366px;
  margin: 0;
  position: absolute;
  left: calc((100vw - 1366px) / 2);
  top: calc(50% - 39px);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-caption {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 60px;
  width: 40%;
  color: #fff;
}
.slider-action {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 3px 25px;
  transition: 0.4s ease-out;
}
.slider-action:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgb(29, 29, 29);
}

@media screen and (max-width: 1463px) {
  .slider-content-wrapper {
    left: 40px;
  }
  .slider-caption {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .slider-btn {
    width: 45px;
  }

  .slider-btn:hover {
    background-color: transparent;
    cursor: pointer;
  }
  .slider-element {
    transition: transform 0.3s ease-out;
    background-size: auto 100%;
    background-position: center;
  }
  .slider-caption {
    word-spacing: 500px;
    line-height: 8vh;
  }
  .slider-content-wrapper {
    box-sizing: border-box;
    width: 90%;
    margin: 0;
    position: absolute;
    top: calc(50% - 29px);
    left: 45px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .slider-action {
    margin-top: 2vh;
    font-size: 18px;
  }
}
