.credentials-wrapper {
  padding: 80px 0px;
}

.credentials-heading {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 40px;
  color: #393939;
}

.credentials-slider {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.credentials-card {
  text-align: justify;
  line-height: 30px;
  width: 380px;
  box-sizing: border-box;
  padding: 35px;
  padding-top: 50px;
  position: relative;
  border-radius: 7px;
  color: #919191;
  background-color: #fff;

  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.12),
    0 2px 2px rgba(100, 100, 100, 0.12), 0 4px 4px rgba(100, 100, 100, 0.12),
    0 8px 8px rgba(100, 100, 100, 0.12), 0 16px 16px rgba(100, 100, 100, 0.12);
}

.credentials-profile {
  display: flex;
  position: absolute;
  top: -37px;
  left: 25px;
}
.credentials-picture {
  background-color: #fff;
  box-sizing: border-box;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #4cb3aa;
  margin-right: 10px;
}
.credentials-name {
  color: #575757;
  margin-top: 5px;
  font-weight: 600;
  font-size: 24px;
}
.credentials-title {
  font-size: 14px;
  margin-top: 3px;
}

@media screen and (max-width: 750px) {
  .credentials-heading {
    font-size: 20px;
  }
  .credentials-wrapper {
    display: none;
  }
}
