.navbar {
  -webkit-box-shadow: 1px 1px 5px 2px rgba(148, 148, 148, 0.61);
  -moz-box-shadow: 1px 1px 5px 2px rgba(148, 148, 148, 0.61);
  box-shadow: 1px 1px 5px 2px rgba(148, 148, 148, 0.61);
}

.navbar-container {
  height: 65px;
  max-width: 1366px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;

  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
}

.nav-item {
  margin-left: 20px;
}

.nav-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(228, 228, 228);
}

#nav-dropdown-btn {
  padding-top: 8px;
}
